# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env_jmusk
.vscode/
.venv/
gmaiil_credentials.json
token.json
sheet-token.json

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Project specific
data/
weekly_report/
*.xlsx
*.json